
/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #e1ffe8;
  background-image: url("background.jpg");
  background-size: cover;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

/* Header styles */
header {
  background: linear-gradient(to right, #372824, #4f5a42);
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #5a5656;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 0;
  font-size: 16px;
}
